/* General Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --red: #FF1D58;
    --light-red: #FF628B;
    --blue: #0049B7;
    --light-blue: #508DE8;
    --yellow: #FFF685;
    --dark-yellow: #FFF02F;
}   

html {
    font-family: 'Poppins', sans-serif;
}

section {
    width: 100vw;
    height: 100vh;
    min-height: 925px;
}

h2 {
    font-weight: 900;
    font-size: 80px;
    color: white;
    transition: 2s;
}

h3 {
    font-weight: 700;
    font-size: 40px;
    color: white;

}

h4 {
    font-weight: 500;
    font-size: 24px;
    color: white;
}

hr {
    width: 101px;
    border: 4px solid white;
    border-radius: 8px;
}

p {
    font-weight: 600;
    font-size: 35px;
    color: white;
}

li {
    list-style: none;
}

button{
    width: 348px;
    height: 71px;
    background-image: linear-gradient(to right, var(--dark-yellow) 0%, var(--yellow) 50%, white 150%);
    background-size: 200% auto;
    transition: 1s;
    border: none;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    color: var(--red);
    
}

button:hover {
    cursor: pointer;
    background-position: right center;
}

.yellow {
    color: var(--yellow)
}

/* Header */

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 118px;
    padding: 0 28px;
    background: transparent;
    z-index: 100;
}

header img {
    position: absolute;
    width: 95px;
    height: auto;
    top: 0
}

#red-logo {
    opacity: 0;
}

/* Welcome */

.welcome {
    position: relative;
    background-color: var(--red);
    display: flex;
    align-items: center;
}

.welcome__text {
    margin-left: 224px;
    height: 723px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.welcome__buttons {
    display: flex;
    flex-direction: row;
}

.welcome__buttons button {
    margin-right: 40px;
}

.welcome__social-icons {
    position: absolute;
    right: 50px;
}

.welcome__social-icons li {
    margin: 33px auto;
}

/* About */
.about {
    position: relative;
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
}

.about__blue-overlay {
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.about__portrait {
    position: absolute;
    width: 1055px;
    height: auto;
    left: -95px;
    bottom: -10px;
    z-index: 0;
}

.about__text {
    position: absolute;
    width: 870px;
    height: 900px;
    text-align: right;
    right: 90px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.about__quote h2,
.about__quote h3 {
    color: var(--yellow);
}

.about__icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Projects */
.projects {
    position: relative;
    background: url("../img/background__projects.jpg") no-repeat left;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects__functions {
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.projects__container {
    position: relative;
    width: 1500px;
    height: 900px;
}

.projects__browser {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 20px;
}

.projects__browser-header {
    position: relative;
    width:100%;
    height: 55px;
    background: rgb(80, 80, 80);
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects__browser-actions {
    position: absolute;
    left: 100px;
    width: 20px;
    height: 20px;
    border-radius:  50%;
    background-color: rgb(103, 233, 103);
    box-shadow: -40px 0 var(--yellow),
    -80px 0 var(--red);
}

.projects__arrow-container {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects__arrow {
    position: relative;
    transition: 1s;
}

.projects__arrow:hover {
    cursor: pointer;
}

#right-arrow {
    transform: rotate(180deg);
}

#left-arrow {
    display: none;
}

#right-arrow:hover{
    transform: translateX(10px) rotate(180deg);
}

#left-arrow:hover {
    transform: translateX(-10px);
}

#project-2 {
    display: none;
    background: var(--blue);
}

#project-3 {
    display: none;
    background: var(--yellow);

}

#project-4 {
    display: none;
    background: var(--red);

}

.projects__dots {
    position: relative;
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    opacity: .4;
}

#dot-1 {
    opacity: 1;
}



/* Connect */
.connect {
    background-color: var(--red);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 708px;
    margin-right: 200px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    
}

form button {
    margin-top: 10px;
}

input,
textarea {
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600;
    border: none;
    border-bottom: 4px solid white;
    border-radius: 0;
    font-size: 40px;
    padding: 10px 0;
    margin: 20px 0;
    outline: none;
    resize: none;
    transition: .5s
}

input:focus,
textarea:focus {
    border-bottom: 4px solid var(--yellow);
    color: var(--yellow)
}

input::placeholder,
textarea::placeholder {
    color: white;
    opacity: .7;
    font-weight: 600;
}

.connect__contact-container {
    position: relative;
    height: 527px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    padding-left: 100px;
}

.connect__contact-container span {
    position: absolute;
    left: 0;
    height: 100%;
    border: 4px solid var(--yellow);
    border-radius: 4px;
}

.connect__social-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.connect__social-icons li {
    margin-right: 50px;
}

/* Media Queries */

@media (max-width: 1840px) {
    section {
        min-height: 500px;
    }
    h2 {
        font-size: 60px;
    }
    h3 {
        font-size: 30px;
    }
    p {
        font-size: 25px;
    }

    .about__text {
        width: 670px;
        height: 700px;
    }

    .about__portrait {
        width: 700px;
    }
    
    .about__icons li img{
        width: 70px;
        height: auto;
    }

    .projects__container {
        height: 650px;
        width: 1100px;
    }
    
    .projects__arrow {
        width: 25px;
        height: auto
    }

    .form-container {
        width: 500px;
        margin-right: 125px;
    }

    input,
    textarea {
        font-size: 25px;
        margin: 15px 0;
        padding: 5px 0;
    }

    .connect__contact-container {
        height: 400px
    }
}

@media (max-width: 1250px) {
    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 20px;
    }
    
    p {
        font-size: 20px;
    }

    button {
        width: 200px;
        height: 45px;
        font-size: 18px;
    }

    .welcome__text {
        height: 550px;
        margin-left: 150px;
    }

    .welcome__social-icons li img,
    .connect__social-icons li img {
        width: 40px;
    }

    .about__portrait {
        width: 600px;
    }

    .about__text {
        height: 550px;
        width: 470px;
    }

    .about__icons li img{
        width: 50px;
    }

    .projects__container {
        width: 800px;
        height: 500px;
    }

    .form-container {
        width: 375px;
        margin-right: 100px;
    }

    input,
    textarea {
        font-size: 20px;
        margin: 10px 0;
    }

    .connect__contact-container {
        height: 300px;
        padding-left: 50px;
    }

}

@media (max-width: 950px) {
    header {
        padding: 0 10px;
    }
    header img {
        width: 70px;
    }

    .welcome__text {
        margin-left: 100px;
    }
    
    .welcome__social-icons {
        top: 0;
        right: 20px;
    }

    .about__text {
        right: 50px;
    }

    .about__blue-overlay {
        background-color: var(--light-blue);
        opacity: .05;
    }

    .projects__container {
        width: 600px;
        height: 400px;
    }

    .projects__arrow-container {
        display: none;
    }

    .connect {
        height: 950px;
        flex-direction: column;
    }

    .form-container {
        margin-right: 0;
        margin-bottom: 80px;
    }

    .connect__contact-container {
        height: 250px;
    }
}

@media (max-width: 600px) {
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 16px;
    }
    hr {
        border: 2px solid white;
        border-radius: 4px;
    }

    header {
        height: 60px;
    }

    header img {
        width: 40px;
    }
    
    .welcome {
        justify-content: flex-end;
    }
    .welcome__text {
        width: 400px;
        height: 450px;
        margin-right: 20px;
        margin-left: 0px;
        align-items: flex-end;
        text-align: right;
    }
    .welcome__buttons {
        flex-direction: column;
        align-items: flex-end;
    }
    .welcome__buttons button {
        margin: 0 0 20px 0;
    }
    
    .welcome__social-icons {
        display: none;
    }

    .about {
        justify-content: center;
    }

    .about__blue-overlay {
        display: none;
    }

    .about__text {
        text-align: left;
        align-items: flex-start;
        width: 300px;
        right: auto;
    }

    .projects {
        height:800px
    }

    .projects__container {
        width: 300px;
        height: 615px;
    }

    .projects__browser {
        border: 8px solid black;
        box-shadow: 0 0 0 2px rgb(230, 230, 230);
        border-radius: 40px;
    }

    .projects__browser-header {
        height:30px;
        width: 160px;
        background: black;
        border-radius: 0 0 15px 15px;
        left: calc(50% - 80px)
    }

    .projects__browser-header h4 {
        display: none;
    }

    .projects__browser-actions {
        display: none;
    }

    .projects__arrow-container {
        display: none;
    }

    .projects__dots {
        width: 120px;
    }

    .dot {
        height: 10px;
        width: 10px;
    }
    
    .connect {
       height: 870px;
    }

    .form-container {
        width:300px;
    }

    form {
        align-items: center;
    }

    input,
    textarea {
        width: 100%;
        font-size: 16px;
    }

    .connect__contact-container {
        padding:0;
        width: 300px;
    }

    .connect__social-icons li {
        margin:auto;
    }


    .connect__contact-container span {
        display: none;
    }
}


