/* General Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --red: #FF1D58;
    --light-red: #FF628B;
    --blue: #0049B7;
    --light-blue: #508DE8;
    --yellow: #FFF685;
    --dark-yellow: #FFF02F;
}   

html {
    font-family: 'Poppins', sans-serif;
}

section {
    width: 100vw;
    height: 100vh;
    min-height: 925px;
}

h2 {
    font-weight: 900;
    font-size: 80px;
    color: white;
}

h3 {
    font-weight: 700;
    font-size: 40px;
    color: white;

}

h4 {
    font-weight: 500;
    font-size: 24px;
    color: white;
}

hr {
    width: 101px;
    border: 4px solid white;
    border-radius: 8px;
}

p {
    font-weight: 600;
    font-size: 35px;
    color: white;
}

li {
    list-style: none;
}

button{
    width: 348px;
    height: 71px;
    background-image: linear-gradient(to right, var(--dark-yellow) 0%, var(--yellow) 50%, white 150%);
    background-size: 200% auto;
    transition: 1s;
    border: none;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    color: var(--red);
    
}

button:hover {
    cursor: pointer;
    background-position: right center;
}

/* Header */

header {
    position: fixed;
    width: 100vw;
    height: 118px;
    padding: 0 28px;
    background: transparent;
    z-index: 100;
}

header img {
    position: absolute;
    width: 95px;
    height: auto;
}

#red-logo {
    opacity: 0;
}

/* Welcome */

.welcome {
    position: relative;
    background-color: var(--red);
    display: flex;
    align-items: center;
}

.welcome__text {
    margin-left: 224px;
    height: 723px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.welcome__name {
    color: var(--yellow)
}

.welcome__buttons {
    display: flex;
    flex-direction: row;
}

.welcome__buttons button {
    margin-right: 40px;
}

.welcome__social-icons {
    position: absolute;
    right: 50px;
}

.welcome__social-icons li {
    margin: 33px auto;
}

/* About */
.about {
    position: relative;
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
}

.about__portrait {
    position: absolute;
    width: 1055px;
    height: auto;
    left: -95px;
    bottom: -10px;
}

.about__text {
    position: absolute;
    width: 870px;
    height: 900px;
    text-align: right;
    right: 90px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.about__quote h2,
.about__quote h3 {
    color: var(--yellow);
}

.about__icons {
    width: 870px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Projects */
.projects {
    position: relative;
    background: url("../img/background__projects.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.projects__container {
    position: relative;
    height: 100%;
    width:1473px;
    height: 829px;
    display: flex;
    flex-direction: row;
}

.projects__browser {
    position: absolute;
    width: 1473px;
    height: 829px;
    background: white;
    border-radius: 20px;
}

.projects__browser-header {
    position: relative;
    width:100%;
    height: 55px;
    background: rgb(80, 80, 80);
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects__browser-actions {
    position: absolute;
    left: 100px;
    width: 20px;
    height: 20px;
    border-radius:  50%;
    background-color: rgb(103, 233, 103);
    box-shadow: -40px 0 var(--yellow),
    -80px 0 var(--red);
}

.projects__arrow-container {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects__arrow {
    position: relative;
    transition: 1s;
}

.projects__arrow:hover {
    cursor: pointer;
}

#right-arrow {
    transform: rotate(180deg);
}

#left-arrow {
    display: none;
}

#right-arrow:hover{
    transform: translateX(10px) rotate(180deg);
}

#left-arrow:hover {
    transform: translateX(-10px);
}


#project-1 {

}

#project-2 {
    display: none;
    background: var(--blue);
}

#project-3 {
    display: none;
    background: var(--yellow);
}

#project-4 {
    display: none;
    background: var(--red);
}

/* Connect */
.connect {
    background-color: var(--red);
}


